/* ======================= CDN links ========================= */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: "Poppins";
    font-size: 16px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.main-btn {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 8px;
    border: black 2px solid;
    background-color: #fff;
    color: black;
    text-transform: capitalize;
}

.main-btn:hover {
    background-color: #ffff;
    color: black;
    border: 2px solid black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.com-gap {
    padding: 101px, 0;
}

/* =========================================== header ================================= */
/* =========================================== navbar ================================== */
.header {
    padding: 40px 20px;
    background-color: #ffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 15px;
}

.nav-menu li a {
    font-size: 15px;
    display: inline-block;
    color: #472a1c;
    text-transform: capitalize;
    font-weight: 600;
}
.nav-menu li a:hover{
    color: rgb(139, 61, 4)
}
.contact a {
    display: inline-block;
    padding: 0 2px;
}
.contact a i{
    color: black;
}
.contact a i:hover{
    color: rgb(139, 61, 4)
}
.ph-btn{
    padding: 15px 0;
}

.logo {
    display: block;
}

.contact .ico-bars {
    display: none;
}

/* ========================================= banner ======================================== */
.banner-section {
    min-height: 100vh;
    background: url(../IMAGES/banner-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-section-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left h1 {
    font-size: 50px;
    color: #ffff;
    padding-bottom: 20px;
}

.banner-left p {
    font-size: 22px;
    color: #ffff;
}


.form-container {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333333;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    background: #f7f7f7;
}

.form-container textarea {
    resize: none;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #a25b2a;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #924d20;
}

/* ========================================== about us ================================ */
.about-us-section {
    padding: 90px 0;
    background-color: #ffff;
}

.about-us-section .container .row {
    text-align: center;
}

.about-us-section .container .row h2 {
    font-size: 40px;
    padding-bottom: 13px;
}

.about-us-section .container .row h3 {
    font-size: 26px;
    color: #ae612e;
    padding-bottom: 31px;
}

.about-us-section .container .row p {
    font-size: 16px;
    padding-bottom: 30px;
}

.about-us-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-card {
    padding: 22px 22px;
    width: 35%;
}

.about-img {
    background-color: #ffe9d8;
    padding: 24px 27px;
    border-radius: 50%;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-para span {
    font-size: 22px;
    color: #ae612e;
}

.about-para p {
    font-size: 16px;
    color: #000;
}

.about-us-layout2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-card2 {
    padding: 30px 45px;
    background-color: #ffe9d8;
    border-radius: 15px;
}

.about-card2 img {
    padding: 25px 27px;
    background-color: #fff4ec;
    border-radius: 50%;
}

/* ================================= contact us ============================================= */
.contact-us-section {
    padding: 90px 0;
    background-color: #ffff;
}

.contact-us-section-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-left {
    width: 35%;
}

.contact-right {
    width: 60%;
}

.contact-left h2 {
    font-size: 40px;
    color: #472a1c;
    padding-bottom: 27px;
}

.contact-left p {
    font-size: 16px;
    padding-bottom: 20px;
}

.contact-right {
    display: flex;
    gap: 20px;
}

.left-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding-top: 35px;
    padding-bottom: 35px;
}

.right-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-images img {
    width: 400px;
    height: 190px;
    object-fit: cover;
}

#cnt-btn {
    padding: 18px 38px;
    border-radius: 24px;
    background: #ae612e;
    border: none;
    color: #ffff;
}
#cnt-btn:hover{
    background-color: #924d20;
}

/* =============================== work us =============================================== */
.work-us-section {
    padding: 90px 0;
    background: url(../IMAGES/work-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.work-us-section-child {
    text-align: center;
}

.work-us-section-child h2 {
    font-size: 67px;
    color: #ffff;
    padding-bottom: 71px;

}

.work-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-card {
    padding: 35px 55px;
    background: #eaeae8;
    border-radius: 10px;
    margin: 0 25px;
}

.work-card h3 {
    font-size: 50px;
    color: #ae612e;
}

.work-card span {
    font-size: 26px;
}

/* ==================================== location =================================== */
.location-section {
    padding: 90px 0;
    background: #ffff;
}

.location-section .container .row {
    text-align: center;
}

.location-section .container .row h2 {
    font-size: 40px;
    padding-bottom: 24px;
}

.location-section .container .row p {
    font-size: 16px;
    padding-bottom: 26px;
}

.location-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-card {
    position: relative;
}

.card-text {
    position: absolute;
    bottom: 60px;
    left: 50px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    font-size: 14px;
}
.location-layout:nth-child(3){
    padding-top: 50px;
}
/* ============================ partner ==================================================== */
.partners {
    padding: 50px 20px;
    text-align: center;
    background-color: #f1e4d9;
}

.partners h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.partners .description {
    max-width: 700px;
    margin: 0 auto 40px;
    font-size: 1rem;
    color: #666;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.logos img {
    width: 120px;
    height: auto;
    object-fit: contain;
}

/*================= CTA Box =============================== */
.cta-box {
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 40px;
}

.cta-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}

.cta-text p {
    color: #666;
    font-size: 1rem;
}

.btn {
    background: #e1701a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn:hover {
    background: #cc5f12;
}

/*================================ Footer ======================= */
.footer {
    background: #160c06;
    color: #fff;
    padding: 50px 20px 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.column h4 {
    margin-bottom: 15px;
}

.column ul {
    list-style: none;
}

.column ul li a {
    margin-bottom: 10px;
    color: #bbb;
    cursor: pointer;
}

.column ul.social li a {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
}
.column .social{
    flex-direction: column;
}
.footer-bottom span {
    color: #e1701a;
}
/* media query */
/* media query */
/* media query */
/* media query */
@media (min-width: 320px) and (max-width: 575.98px) {

    /* ============ navbar ======= */
    .header{
        padding: 20px 10px;
    }
    .contact .ico-bars {
        display: inline;
    }

    .nav-menu {
        display: block;
        position: absolute;
        top: 125px;
        background: linear-gradient(pink, red);
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 100;
    }

    .nav-menu li {
        padding: 15px 0;
    }

    .navbar {
        flex-direction: column;
    }
    .contact{
        margin: 20px 0;
    }
    .nav-menu li a{
        color: #ffff;
    }


    /* ============ banner ======= */

    .banner-section-child {
        text-align: center;
        flex-direction: column;
    }

    .banner-left h1 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .banner-left p {
        font-size: 12px;
    }

    .banner-left {
        margin: 30px 0;
    }

    .banner-right {
        margin: 20px 0;
    }

    /* ==================== about us ============= */
    .about-us-section {
        padding: 30px 0;
    }

    .about-us-layout {
        flex-direction: column;
    }

    .about-card {
        width: 100%;
    }

    .about-us-layout2 {
        text-align: center;
        justify-content: space-evenly;
    }

    .about-card2 {
        margin: 20px 0;
    }

    .about-us-section .container .row h2 {
        font-family: 20px;
        padding-bottom: 10px;
    }

    .about-us-section .container .row h3 {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .about-us-section .container .row p {
        font-size: 12px;
        padding-bottom: 10px;
    }

    /* ========== contact us ====== */
    .contact-us-section {
        padding: 30px 0;
    }

    .contact-us-section-child {
        flex-direction: column;
        text-align: center;
    }

    .contact-left {
        width: 100%;
    }

    .contact-right {
        width: 100%;
        margin: 25px 0;
    }

    .contact-left h2 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .contact-left p {
        font-size: 12px;
        padding-bottom: 10px;
    }

    #cnt-btn {
        padding: 8px 17px;
    }

    .left-image img {
        width: 200px;
        height: 200px;
    }

    .right-images img {
        width: 200px;
        height: 100px;
    }

    /* ============== work ===== */
    .work-us-section {
        padding-bottom: 30px 0;
    }

    .work-layout {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .work-card {
        margin: 25px 0;
    }

    .work-us-section-child h2 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .work-card h3 {
        font-size: 25px;
    }

    .work-card span {
        font-size: 12px;
    }
      /* ==== location ====== */
      .location-section{
        padding: 30px 0;
     }
     .location-layout{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .location-section .container .row h2{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .location-section .container .row p {
        font-size: 10px;
        padding-bottom: 12px;
    }
    .logos {
        gap: 15px;
    }

    .cta-box {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

@media (min-width: 576px) and (max-width: 765.98px) {

    /* ============ navbar ======= */
    .header{
        padding: 20px 10px;
    }
    .contact .ico-bars {
        display: inline;
    }

    .nav-menu {
        display: block;
        position: absolute;
        top: 125px;
        background: linear-gradient(pink, red);
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 100;
    }

    .nav-menu li {
        padding: 15px 0;
    }

    .navbar {
        flex-direction: column;
    }
    .contact{
        margin: 20px 0;
    }
    .nav-menu li a{
        color: #ffff;
    }


    /* ============ banner ======= */

    .banner-section-child {
        text-align: center;
        flex-direction: column;
    }

    .banner-left h1 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .banner-left p {
        font-size: 12px;
    }

    .banner-left {
        margin: 30px 0;
    }

    .banner-right {
        margin: 20px 0;
    }

    /* ==================== about us ============= */
    .about-us-section {
        padding: 30px 0;
    }

    .about-us-layout {
        flex-direction: column;
    }

    .about-card {
        width: 100%;
    }

    .about-us-layout2 {
        justify-content: space-evenly;
    }

    .about-card2 {
        margin: 20px 0;
    }

    .about-us-section .container .row h2 {
        font-family: 20px;
        padding-bottom: 10px;
    }

    .about-us-section .container .row h3 {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .about-us-section .container .row p {
        font-size: 12px;
        padding-bottom: 10px;
    }

    /* ========== contact us ====== */
    .contact-us-section {
        padding: 30px 0;
    }

    .contact-us-section-child {
        flex-direction: column;
        text-align: center;
    }

    .contact-left {
        width: 100%;
    }

    .contact-right {
        width: 100%;
        margin: 25px 0;
    }

    .contact-left h2 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .contact-left p {
        font-size: 12px;
        padding-bottom: 10px;
    }

    #cnt-btn {
        padding: 8px 17px;
    }

    .left-image img {
        width: 200px;
        height: 200px;
    }

    .right-images img {
        width: 200px;
        height: 100px;
    }

    /* ============== work ===== */
    .work-us-section {
        padding-bottom: 30px 0;
    }

    .work-layout {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .work-card {
        margin: 25px 0;
    }

    .work-us-section-child h2 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .work-card h3 {
        font-size: 25px;
    }

    .work-card span {
        font-size: 12px;
    }
     /* ==== location ====== */
     .location-section{
        padding: 30px 0;
     }
     .location-layout{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .location-section .container .row h2{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .location-section .container .row p {
        font-size: 10px;
        padding-bottom: 12px;
    }
    .logos {
        gap: 15px;
    }

    .cta-box {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    /* ============ navbar ======= */
    .contact .ico-bars {
        display: inline;
    }

    .nav-menu {
        display: block;
        position: absolute;
        top: 125px;
        background: linear-gradient(pink, red);
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 100;
    }

    .nav-menu li {
        padding: 15px 0;
    }
    .nav-menu li a{
        color: #ffff;
    }

  

    /* ============ banner ======= */

    .banner-section-child {
        text-align: center;
        flex-direction: column;
    }

    .banner-left h1 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .banner-left p {
        font-size: 12px;
    }

    .banner-left {
        margin: 30px 0;
    }

    .banner-right {
        margin: 20px 0;
    }

    /* ==================== about us ============= */
    .about-us-layout {
        flex-direction: column;
    }

    .about-card {
        width: 50%;
    }

    .about-us-layout2 {
        justify-content: space-evenly;
    }

    .about-card2 {
        margin: 20px 0;
    }

    /* ========== contact us ====== */
    .contact-us-section-child {
        flex-direction: column;
        text-align: center;
    }

    .contact-left {
        width: 100%;
    }

    .contact-right {
        width: 100%;
        margin: 25px 0;
    }

    /* ============== work ===== */
    .work-layout {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .work-card {
        margin: 25px 0;
    }
      /* ==== location ====== */
    .location-layout{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .logos {
        gap: 15px;
    }

    .cta-box {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ============ navbar ======= */
    .contact .ico-bars {
        display: inline;
    }

    .nav-menu {
        display: block;
        position: absolute;
        top: 125px;
        background: linear-gradient(pink, red);
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 100;
    }

    .nav-menu li {
        padding: 15px 0;
    }
    .nav-menu li a{
        color: #ffff;
    }

    /* ==================== about us ============= */
    .about-us-layout {
        flex-direction: column;
    }

    .about-card {
        width: 50%;
    }

    .about-us-layout2 {
        justify-content: space-evenly;
    }

    .about-card2 {
        margin: 20px 0;
    }

    /* ============== work ===== */
    .work-layout {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .work-card {
        margin: 25px 0;
    }
    /* ==== location ====== */
    .location-layout{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


}


@media (min-width: 1200px) and (max-width: 1399.98px) {}